body {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body,
h1,
p {
    margin: 0;
}

.title {
    color: #a12b04;
}