body {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

body,
h1,
h2,
p {
    margin: 0;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: #5169d4;
}

p {
  display: none;
  font-size: 45pt;
  color: #a12b04;
}

.title {
    font-size: 30pt;
}
